{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <!--<meta http-equiv="refresh" content="60">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
{% block title %}
    <title>
    	主页
    </title>
{% endblock %}
    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "Font-Awesome-3.2.1/css/font-awesome.min.css" %}" rel="stylesheet">
{% block css %}
    <link href="{% static "css/global.css" %}" rel="stylesheet">
    <link href="{% static "css/base.css" %}" rel="stylesheet">
{% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    
  </head>

{% block content_body %}
  <body>
  	<header>
        <nav class="navbar navbar-default">
          <div class="container">
          <div class="row">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" style="padding:0px;margin-bottom: 10px;margin-top: 10px;" href="#"><img style="padding: 0px 15px;" src="{{ STATIC_URL }}img/logo.png"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <!--<ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>-->

              <!--<form class="navbar-form navbar-left pull-right" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>-->

              <!--<ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </li>
              </ul>-->
            </div><!-- /.navbar-collapse -->
          </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </nav>
    </header>
<div class="container">
  <div class="row">
  <div class="col-md-12">
	<div class="nav f-yahei relative  f14">
	 <ul class="fl f18 l">
	 <li><a href="/" title="首页" class="PublicMenu on">首页</a></li>
	 <li><a href="" title="咨询" class="PublicMenu">咨询</a></li>
	 <li><a href="" title="挂号" class="PublicMenu">挂号</a></li>
	 <li><a href="" title="体检" class="PublicMenu">体检</a></li>
	 </ul>
	 <div class="line fl"></div>
	  <ul class="fl r">
	 <li><a href="{% url 'ForTest:TestMenu' %}" class="PublicMenu" title="国内医院">测试navbar</a></li>
	 <li><a href="{% url 'ForTest:TestPagination' %}" class="PublicMenu" title="国内医生">测试分页</a></li>
	 <li><a href="" class="PublicMenu" title="疾病百科">疾病百科</a></li>
	 <li><a href="" class="PublicMenu" title="公司简介">公司简介</a></li>
	 </ul>
	   <div id="botlink" class="bot-link absolute bot-w1"></div>
	 {% if user.is_authenticated %}
       <div class="fr"><a href="{% url 'User:logout' %}"><i class="icon-signout"></i></a></div>
       <div class="fr value"><a href="{% url 'User:profile' slug=user.username %}">用户中心</a></div>
       <div class="fr">{{ user.username }}</div>
     {% else %}
       <div class="fr value"><a href="{% url 'User:login' %}">登录</a></div>
       <div class="fr value"><a href="{% url 'User:register' %}">注册</a></div>
     {% endif %}
	</div>
  </div><!--end col-md-12-->
  </div><!--end row-->
</div><!--end container-->

<div class="h20"></div>
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="carousel slide" id="carousel-380556">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-380556">
					</li>
					<li data-slide-to="1" data-target="#carousel-380556">
					</li>
					<li data-slide-to="2" data-target="#carousel-380556">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img alt="" src="{% static "img/1.jpg" %}" />
						<div class="carousel-caption">
							<h4>
								First Thumbnail label
							</h4>
							<p>
								Cras justo odio, da
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="{% static "img/3.jpg" %}" />
						<div class="carousel-caption">
							<h4>
								Second Thumbnail label
							</h4>
							<p>
								Cras justo odio, d
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="{% static "img/2.jpg" %}" />
						<div class="carousel-caption">
							<h4>
								Third Thumbnail label
							</h4>
							<p>
								Cras justo odio, 
							</p>
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-380556" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-380556" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
        </div>
    </div>
</div>

<div class="h20"></div>


<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default panel-info">
               <div class="panel-heading">
                  <h3 class="panel-title">面板标题</h3>
               </div>
               <div class="panel-body">
                  这是一个基本的面板
               </div>
               <table class="table">
                  <th>产品</th><th>价格 </th>
                  <tr><td>产品 A</td><td>200</td></tr>
                  <tr><td>产品 B</td><td>400</td></tr>
               </table>
            </div>
            <div class="panel panel-default panel-info">
               <div class="panel-heading">面板标题</div>
               <table class="table">
                  <th>产品</th><th>价格 </th>
                  <tr><td>产品 A</td><td>200</td></tr>
                  <tr><td>产品 B</td><td>400</td></tr>
               </table>
            </div>
        </div>
        
        <div class="col-md-4">
		<div class="panel panel-default panel-info">
		   <div class="panel-body">
		      这是一个基本的面板
		   </div>
		   <div class="panel-footer">面板脚注</div>
		</div>

		<div class="panel panel-default panel-info f12">
		   <div class="panel-heading">
		     <h3 class="panel-title">面板标题</h3>
		   </div>
		   <div class="panel-body">
			<form class="form-horizontal">
			  <div class="form-group">
			    <label class="col-sm-2 control-label">Email</label>
			    <div class="col-sm-10">
			      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
			    <div class="col-sm-10">
			      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
			    </div>
			  </div>
			</form>
		   </div>
		   <div class="panel-footer">面板脚注</div>
		</div>
        </div>
    </div>
</div>

{% endblock %}
<div class="footer" id="footer"> 
    <div class="h20"></div>
    <div class="w980 t-cen cr-666 lh18 pb10" style=" border-bottom:1px solid #e5e5e5"><b>郑重提醒：</b>网上交流不能替代医生面诊，医生的咨询建议仅供参考，具体诊疗请一定到正规医院在专业医生指导下进行！医生言论仅代表其个人观点，不代表本站同意其说法，本站不承担由此引起的法律责任。
    </div>
    <div>
        <div>
            <a href="" target="_blank">关于我们</a><span class="cr-c8 mlr10">|</span>
            <a href="" target="_blank">领导关怀</a><span class="cr-c8 mlr10">|</span>
            <a href="" target="_blank">联系我们</a><span class="cr-c8 mlr10">|</span>
        
            <a href="" target="_blank">注册协议</a><span class="cr-c8 mlr10">|</span>
            
            
            <a href="" target="_blank">帮助中心</a><span class="cr-c8 mlr10">|</span>
            <a href="" target="_blank">意见反馈</a>
            <span class="cr-c8 mlr10">|</span>
            <a href="" target="_blank">健康之路官方微博</a>
        </div>
        <div class="lh36 f14 ">全国热线电话:<span class="mr10 f-yh fb">400-6677-400</span>福建:<span class="mr10 f-yh fb">0591-968808</span>江西:<span class="mr10 f-yh fb">0791-82112345</span>广东:<span class="mr10 f-yh fb">020-66617606</span>湖北:<span class="mr10 f-yh fb">027-83821288</span>陕西:<span class="mr10  f-yh fb">029-88882111</span></div>
        <div class="cr-999">
        Copyright © 2013 Yihu.com, All Rights Reserved. 健康之路 专业就诊服务机构 版权所有
        增值电信业务经营许可证：B2-20110196(全网) 闽B2-20090074  <a href="" target="_blank">闽ICP备05019666号</a>
        </div>
        
    </div>
</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ STATIC_URL }}js/jquery-1.11.2.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
  {% block script %}
  {% endblock %}


  </body>
  {% endblock %}<!--/end block content_body-->
</html>
