{% extends 'UserProfile/user_detail.html' %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}

{% block content_right %}
<form action="" method="post" class="form">
    {% if oldpassword_is_wrong %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            #原密码不正确
        </div>
    {% endif %}
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Submit
    </button>
  {% endbuttons %}
</form>
{% endblock %}
{# Read the documentation for more information #}